<?xml version="1.0" encoding="UTF-8"?>
<Configuration
	status="WARN"
	name="AdeptConfig">
	<Properties>
		<Property name="logName">./Adept.log</Property>
		<Property name="logPattern">%d{dd:HH:mm:ss} [%-5p] %-60.100C : %-4L - %m%n
		</Property>
	</Properties>

	<Appenders>
		<Console
			name="Console"
			target="SYSTEM_OUT">
			<PatternLayout pattern="${logPattern}" />
		</Console>

		<File
			name="Adept"
			fileName="${logName}">
			<PatternLayout pattern="${logPattern}" />
		</File>

	</Appenders>

	<Loggers>
		<Root level="TRACE">
			<AppenderRef
				ref="Console"
				level="DEBUG" />
			<AppenderRef
				ref="Adept"
				level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>
