<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM 
	"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<Configuration status="WARN" name="AdeptConfig">
	<Properties>
		<Property name="logName">./Adept.log</Property>
		<Property name="logPattern">
			%d{HH:mm:ss} [%-5p] %-40.90C{-3} : %-4L -
			%m%n
		</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${logPattern}" />
		</Console>

		<File name="Adept" fileName="${logName}">
			<PatternLayout pattern="${logPattern}" />
		</File>

	</Appenders>

	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="Console" level="DEBUG" />
			<AppenderRef ref="Adept" level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>
